.App {
  text-align: center;

  &__Header {
    align-items: center;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
    margin-bottom: 2em;
    min-height: 10vh;
  }
}

.Year__Header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.Year__Header h1 {
  margin: 0 .5em;
}

.Year__Header button {
  border: 0;
  background-color: white;
  outline: none;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
}

.Year__Content {
  align-items: flex-start;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 0 auto;
  max-width: 50em;
}

.Month {
  border-spacing: 0;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 .7em 1em .7em;
}

@media (min-width: 480px) {
  .Month {
    flex-basis: 30%;
    flex-grow: 0;
  }
}

.Month__Title {
  color: blue;
  padding-bottom: .5em;
}

.WeekHead {
  background-color: #DDD;
  color: #777;
}

.Day {
  border: 1px solid white;
  color: #333;
  cursor: pointer;
  padding: .2em;
}

.Day:hover {
  border: 1px solid #ccc;
}

.Day--hidden:hover {
  border: 1px solid white;
  cursor: initial;
}

.Day--current {
  background-color: darksalmon;
}

.Day--weekend {
  color: blue;
}

.Day--busy {
  background-color: chocolate;
}

.Day--holiday {
  background-color: yellowgreen;
}

.Day--anniversary {
  background-color: palegreen;
}

.Day--birthday {
  background-color: khaki;
}

.Modal {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  bottom: auto;
  left: 50%;
  margin-right: -50%;
  outline: none;
  overflow: auto;
  padding: 20px;
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}
.Modal button{
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0;
}

.Modal select {
  border: 1px solid #333;
  background-color: white;
  outline: none;
}

.Modal__Title {
  margin-top: 0;
}

.Modal__Flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Modal__Content {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em 0;
}